<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="background:#E3E3E3;">

<h1 style="color:#FDFC4C;background:#00331C;padding:5px;"><a href="<%= @url %>" style="color:#FDFC4C;text-decoration:none;">HEARSAY</a></h1>

<h2 style="color:#999;font-size:24px;">Hello,</h2>
<h2 style="color:#00331C;font-size:24px;text-align:left;">
You have been invited to pretty much the coolest social networking site in the world by your good friend <%= @user %> <br />
visit <a href="<%= @url %>">http://www.thisishearsay.com</a> to sign up and see what it is all about.</h2>

<p>© 2010 ThisIsHearsay.com</p>

</body>
</html>