<ul id="setup_nav">
	<li><%= link_to_unless_current "1. Upload Photo", initial_image_path %></li>
	<li><%= link_to_unless_current "2. Create Profile",:controller => 'profile', :action => 'index' %></li>
	<li><%= link_to_unless_current "3. Find and Invite Friends", find_friends_path %></li>
	<li><%= link_to_unless_current "4. Create Categories", suggestions_path %></li>
</ul>