
<script type="text/javascript"><!--
google_ad_client = "pub-8909561621860243";
/* 180x150, created 10/27/10 */
google_ad_slot = "7947844144";
google_ad_width = 180;
google_ad_height = 150;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

	

<script type="text/javascript"><!--
google_ad_client = "pub-8909561621860243";
/* 180x150, created 10/27/10 */
google_ad_slot = "7947844144";
google_ad_width = 180;
google_ad_height = 150;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

	
		<div class ="clear"></div>
	

<script type="text/javascript"><!--
google_ad_client = "pub-8909561621860243";
/* 180x150, created 10/27/10 */
google_ad_slot = "7947844144";
google_ad_width = 180;
google_ad_height = 150;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<script type="text/javascript"><!--
google_ad_client = "pub-8909561621860243";
/* 180x150, created 10/27/10 */
google_ad_slot = "7947844144";
google_ad_width = 180;
google_ad_height = 150;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

	