<span style="border-bottom:1px solid;font-size:14px;padding:15px;">
	<%= link_to_remote "friends activity", :url => { :action => 'friends_stream' }, :success => "friendsStream = 1;" %>
</span>

<span id="toggle_selected" style="padding:13px;">public stream</span>



<span style="border-bottom:1px solid;margin-left:-7px;padding:0 322px 12px 0;">&nbsp;</span>
