<a id="more_stream_fuck" onclick="morePublic();"><%= image_tag("downarrow.png",:style => "margin-right:5px;") %>load more public stream</a>
<%= image_tag("loader-green.gif", :style => "border:none;display:none;margin:-24px 198px 0 0;float:right;", :id => "more") %>